@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

body {
    background: url("https://cdn.pixabay.com/photo/2016/08/10/20/26/stethoscope-1584223_1280.jpg") no-repeat top center;
    /* padding: 0 10px; */
    background-size: cover;
}

.wrapper {
    max-width: 500px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 1.25);
}

.wrapper .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #fec107;
    text-transform: uppercase;
    text-align: center;
}

.wrapper .form {
    width: 100%;
}

.wrapper .form .input_field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.wrapper .form .input_field label {
    width: 80px;
    font: bold;
    color: wheat;
    margin-right: 10px;
    font-size: 14px;
}

.wrapper .form .input_field input {
    width: 100px;
}

.wrapper .form .input_field .textarea {
    resize: none;
    height: 250px;
    width: 500px;
}



/* Navbar styling */
nav {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background color */
    padding: 19px 19px; /* Padding for the navbar */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px; /* Spacing between navbar items */
}

nav ul li a {
    color: wheat; /* Text color */
    text-decoration: none;
    font-size: 18px; /* Font size */
    font-weight: bold; /* Font weight */
}

nav ul li a:hover {
    color: #fff; /* Text color on hover */
}
